{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_empty.html" %}
    <div class="row">

        <div class="col-md-12 mt-5 mb-5 pt-5 pb-5">
            <h2 class="text-center">Страница не найдена</h2>
            <hr class="hr-dark">
            <div class="mt-2 mb-4">
                <h4 class="text-center font-weight-bold">Запращиваемая вами страница не найдена либо не существует, попробуйте зайти позже.</h4>
            </div>
            <div class="text-center">
                <a class="btn bg-yellow2 btn-lg" href="{% url 'index' %}">На главную</a>
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}