{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
{% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'biblioteki' %}">Библиотеки</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
              <h5 class="text-left text-dark black-text text-bold"><strong>{{ biblioteka.name }}</strong></h5>
            </div>
            <hr class="hr-dark">
                    <div class="row">
                        <div class="col-md-4">
                            <img class=img-fluid src="{{ biblioteka.image.url }}" />
                        </div>
                        <div class="col-md-8">
                            <p><strong class="font-weight-bold">{{ biblioteka.direktor }}:</strong> {{ biblioteka.employer }}</p>
                            <p><strong class="font-weight-bold">Адрес:</strong> {{ biblioteka.adress }}</p>
                            <p><strong class="font-weight-bold">Телефон:</strong> <strong class="blue-text"><strong>{{ biblioteka.phone }}</strong></strong></p>
                            <p><strong class="font-weight-bold">Почта:</strong> <strong class="blue-text"><strong><a href="mailto:{{ biblioteka.email }}">{{ biblioteka.email }}</a></strong></strong></p>
                            <h4>График работы:</h4>
                            <p><strong class="font-weight-bold"></strong>{{ biblioteka.workdays }}: {{ biblioteka.worktime }}</p>
                            <p><strong class="font-weight-bold"></strong>{{ biblioteka.workdays_alt }}: {{ biblioteka.worktime_alt }}</p>
                            <p><strong class="font-weight-bold">Выходной:</strong> {{ biblioteka.weekend }}</p>
                            <p><strong><strong class="blue-text">Последний день месяца – санитарный</strong></strong></p>
                            <p><strong class="font-weight-bold">Соц.сети:</strong>
                                {% if biblioteka.instagram != Null %}
                                    <a href='{{ biblioteka.instagram }}'>&nbsp; <i class="fab fa-odnoklassniki fa-2x text-warning"></i></a>
                                {% else %}

                                {% endif %}

                                {% if biblioteka.facebook != Null %}
                                    <a href="{{ biblioteka.facebook }}">&nbsp; <i class="fab fa-vk fa-2x text-primary"></i></a>
                                {% else %}

                                {% endif %}

                                {% if biblioteka.telegram != Null %}
                                    <a href="{{ biblioteka.telegram }}">&nbsp; <i class="fab fa-telegram fa-2x blue-text"></i></a>
                                {% else %}

                                {% endif %}</p>
                            <hr>
                        </div>
                    </div>
        <div>{{ biblioteka.description|safe }}</div>

                <hr class="hr-pink mb-3">

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}