{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}


{% block content %}
{% include '_header_pages.html' %}

<div id="fback" class="container">
    <h3 class="">{{ title }}</h3>
    <hr class="hr-dark">

    <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header primary-color text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">Форма обратной связи</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
              <div hidden>{% crispy_field fback.category %}</div>
            <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                {% crispy_field fback.name 'class' 'form-control' 'placeholder' 'Иван' %}
                <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ form.name.label }}</strong></label>
            </div>


            <div class="md-form">
                <i class="fas fa-phone prefix grey-text"></i>
                {% crispy_field fback.phone 'class' 'form-control' 'placeholder' '8 (999) 999-99-99' %}
                <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ form.phone.label }}</strong></label>
            </div>

            <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                {% crispy_field fback.email 'class' 'form-control' 'placeholder' 'Почта' %}
                <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ form.email.label }}</strong></label>
            </div>

            <div class="md-form">
                <i class="fas fa-comment-alt prefix grey-text"></i>
                {% crispy_field fback.comment 'class' 'form-control' 'placeholder' 'Ваше сообщение или список книг' %}
                <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ form.comment.label }}</strong></label>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-outline-blue waves-effect">Отправить <i class="fas fa-paper-plane-o ml-1"></i></button>
          </div>
        </div>
    </form>
    <!--/.Content-->
</div>
{% include '_footer.html' %}

{% endblock %}