{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container pb-3">
    {% include "_page_menu_empty.html" %}
    <div class="row d-flex justify-content-center pt-3">
    {% for category in categories %}
        {% if category.id == 11 %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/tyutchev.png' %}" class="img-fluid shadow-2-strong" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">{{ category.name }}</h5>
                          <p class="card-text">Навстречу 225-летнему юбилею Ф.И. Тютчева</p>
                          <a href="{% url 'documents_in_category' category.id %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        {% elif category.id == 3 %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/documents.png' %}" class="img-fluid shadow-2-strong" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">{{ category.name }}</h5>
                          <p class="card-text">Документы для ознакомления читателей с изменениями в работе учреждения.</p>
                          <a href="{% url 'documents_in_category' category.id %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        {% elif category.id == 7 %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/stamp.png' %}" class="img-fluid shadow-2-strong" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">{{ category.name }}</h5>
                          <p class="card-text">Учредительные документы организации. Устав. Положения по филиалам и другие.</p>
                          <a href="{% url 'documents_in_category' category.id %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        {% elif category.id == 6 %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
            <div class="card-body">
              <div class="row g-0">
                  <div class="col-md-4 d-flex justify-content-center align-content-center">
                      <img src="{% static 'img/contest.png' %}" class="img-fluid" />
                  </div>
                  <div class="col-md-8">
                      <h5 class="card-title font-weight-bold">{{ category.name }}</h5>
                      <p class="card-text">Положения о конкурсах. Документы и заявки. Мы с нетерпением ждем участников!</p>
                <a href="{% url 'documents_in_category' category.id %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                  </div>
              </div>
            </div>
        </div>
        </div>
        {% elif category.id == 10 %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-content-center">
                            <img src="{% static 'img/lito.png' %}" class="img-fluid" />
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title font-weight-bold">{{ category.name }}</h5>
                            <p class="card-text">Литературно-Творческое Объединение "Метафора"</p>
                            <a href="{% url 'documents_in_category' category.id %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/project_other.webp' %}" class="img-fluid" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">Наши Проекты</h5>
                          <p class="card-text">Творческие и литературные проекты наших библиотек</p>
                          <a href="{% url 'projects_other' %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/projects.png' %}" class="img-fluid" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">Проекты года</h5>
                          <p class="card-text">Проекты библиотек посвященные году защитника и 80-летия победы!</p>
                          <a href="{% url 'projects' %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-3 shadow-2">
                <div class="card-body">
                  <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-content-center">
                          <img src="{% static 'img/statya.webp' %}" class="img-fluid" />
                      </div>
                      <div class="col-md-8">
                          <h5 class="card-title font-weight-bold">Статьи</h5>
                          <p class="card-text">Статьи наших библиотечных авторов</p>
                          <a href="{% url 'articles' %}" class="btn bg-yellow2 font-weight-bold float-right" data-mdb-ripple-init>Перейти</a>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}