{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'events_archive' %}">Архив мероприятий</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="container">
        <div class="row">
            {% for Event in events %}
            <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <img class="img-responsive" src="{{ Event.image.url }}" />
                    </div>
                    <div class="card-footer">
                        <h5>{{ Event.name }}</h5>
                        {% if Event.is_past_due %}
                            <span class="text-dark font-weight-bold">Завершено:</span>
                            <p class="text-danger font-weight-bold"><s>{{ Event.date }}</s></p>
                        {% else %}
                            <span class="text-dark font-weight-bold">Ожидается:</span>
                            <p class="text-dark font-weight-bold">{{ Event.date }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}