{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'events' %}">Ожидаемые мероприятия</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">

        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">

            <div class="container-fluid mb-2">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                   {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                      {% endif %}
                  {% for p in paginator.page_range %}
                      {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{ p }} <span class="visually-hidden"></span></a>
                    </li>
                       {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                   {% endif %}
                  </ul>
                </nav>

                    <div class="container mt-5 mb-5">
                        <div class="row">
                            {% for Event in page_obj %}
                            <div class="col-md-4 d-flex">
                                <div class="card my-3 {% if Event.date == event.date %}bg-info{% endif %}">
                                    <div class="card-body">
                                        <img class="img-responsive" src="{{ Event.image.url }}" alt="{{ Event.name }} {{ Event.library }} Железнодорожный"/>
                                    </div>
                                    <div class="card-footer">
                                        <h5>{{ Event.name }}</h5>
                                        <h6>{{ Event.library }}</h6>
                                        {% if Event.is_past_due %}
                                            <span class="text-dark font-weight-bold">Завершено:</span>
                                            <p class="text-danger font-weight-bold"><s>{{ Event.date }}</s></p>
                                        {% else %}
                                            <span class="text-dark font-weight-bold">Ожидается:</span>
                                            <p class="text-dark font-weight-bold">{{ Event.date }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                   {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                      {% endif %}
                  {% for p in paginator.page_range %}
                      {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{ p }} <span class="visually-hidden"></span></a>
                    </li>
                       {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                   {% endif %}
                  </ul>
                </nav>

            </div>

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}