{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_service.html" %}
        <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'services' %}">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
          </ol>
        </nav>
    <div class="row">

        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">
            <div class="mb-3">
                Дата публикации: <h4>{{ fservice.date }}</h4>
            </div>
            <div>{{ fservice.description|safe }}</div>

                <hr class="hr-pink mb-3">

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}