{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">

        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Книги, изданные до 1917 года.</h5>
                            <a href="{% url 'library_imperia' %}">
                              <button type="button" class="btn bg-yellow2 text-dark">К списку</button>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Краеведческая литература</h5>
                              <a href="{% url 'library_krai' %}">
                                <button type="button" class="btn bg-yellow2 text-dark">К списку</button>
                              </a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Художественная литература</h5>
                              <a href="{% url 'library_hud' %}">
                                <button type="button" class="btn bg-yellow2 text-dark">К списку</button>
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <p>Впервые в Балашихе создана Электронная библиотека (ЭБ) редкой книги, краеведческой и художественной литературы, обеспечивающая сохранение исторической памяти края, позволяющая представлять историко-культурное прошлое территории в регионе. ЭБ доступна самому широкому кругу пользователей, особенно подрастающему поколению.&nbsp;</p>
                    <p>10 мая состоялась презентация ЭБ, которая &nbsp;создана для жителей г. Балашихи, микрорайона Железнодорожный, она является &nbsp;единой сетью, единым информационным пространством и содействует удовлетворению потребностей пользователей. Целью проекта является &nbsp;создание условий для полноценного справочно-информационного обслуживания населения, который обеспечивает доступ к материалам на электронных носителях, а также к информации, имеющей образовательное значение.</p>
                    <p>ЭБ предоставляет возможность просматривать документы и произведения, доступ к которым читателям ограничен (редких книг и т. п.), а также доступ к фондам документов/изданий, существующих исключительно в электронной форме, их каталогизация. ЭБ предоставляет пользователям качественно новые возможности работы с большими объемами электронных данных. ЭБ прививает интерес к книге и любви к чтению, знакомство с произведениями литературы, используя инновационные формы и методы библиотечного общения. ЭБ воспитывает информационную культуру, приобщает к использованию новых компьютерных технологий, обеспечивает помощь учебному и образовательному процессу.</p>
                    <p>Простота доставки электронной версии редкой книги, краеведческой и художественной литературы обеспечивает широкий доступ всех слоев населения, в т.ч. и лиц с ограниченными возможностями, вероятность более эффективно и оперативно обслуживать население города, области и за ее пределами.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}