{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}
<style>
    .font-fluid {
        font-size: 0.75vw !important;
    }
    .ri {
        line-height: 1.0 !important;
    }
    .pp {
        line-height: 1.0 !important;
    }
    .mbp {
        margin-bottom: 0.3rem !important;
    }
    .hrp {
        margin-top: 0.3rem !important;
        margin-bottom: 0.3rem !important;
    }
    .bgimage {
        background-image: url(data:img/png;)
    }
</style>
<div class="container mt-3 bgimage">
     <a href="{% url 'schedule_ikc' %}" class="btn btn-outline-danger">Печать расписания</a>
    <div id="schedule" class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 pt-2"><img class="img-fluid" src="{% static 'img/shedule_empty.webp' %}"></div>
            <div class="col-md-6">
                <h5 class="font-weight-bold">Библиотечный информационно-культурный центр</h5>
            </div>
        </div>

        <div class="row">
        {% for day in cinema_days %}
            <div class="mb-3">
                <div class="card card-cascade wider mb-2">
                    <div class="card-header"><h4 class="font-weight-bold text-danger">{{ day.name }} - {{ day.date }}</h4></div>
                    <div class="card-body">
                        {% for movi in day.movies_list %}
                        <div class="row">
                            <div class="col-md-3"><p class="font-weight-bold font-fluid ri pp mbp">{{ movi.start_time }}</p></div>
                            <div class="col-md-9"><p class="font-weight-bold font-fluid ri pp mbp">{{ movi.name }}</p></div>
                        </div>
                            <hr class="hrp">
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="row">
            <img class="ml-auto" src="{% static 'img/shedule_empty_bottom.webp' %}">
        </div>
    </div>
</div>

{% include '_footer.html' %}
{% endblock %}