{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <div class="row">

        <div class="col-md-12">
            <h3>{{ news.date }} | <strong><strong>{{ news.name }}</strong></strong></h3>
            <hr class="hr-dark">
            <section>
              <div class="container-fluid">
                <div class="container lightbox" data-id="lightbox">
                  <!-- Cover photo -->
                  <div class="row mb-2 mt-1">

                    <div class="col-md-12">

                      <!-- Image -->
                      <div class="view">
                        <img src="{{ news.image.url }}" class="img-fluid z-depth-1 wow fadeIn"
                          data-wow-delay="0.2s">
                      </div>

                    </div>

                  </div>
                  <!--  Cover photo -->
                  <!-- Blog -->
                  <div class="col-12">
                    <!-- Main listing -->
                    <div class="col-12 mt-1">

                      <!-- Section: Blog v.3 -->
                      <section class="extra-margins pb-5 text-lg-left">

                          <!-- Grid column -->
                          <div class="col-md-12">

                            <!-- Text -->
                            <p class="dark-grey-text mb-3 mt-4 mx-4 wow fadeIn" data-wow-delay="0.2s">
                                {{ news.description|safe }}
                            </p>

                          </div>
                          <!-- Grid column -->


                      </section>
                      <!-- Section: Blog v.3 -->

                    </div>
                    <!-- Main listing -->
                  </div>
                  <!-- Blog -->

                </div>
            </section>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}