{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
{% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'document_categories' %}">Документы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Проекты</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold">2024 год в России объявлен Годом семьи.</h3>
            <h5 class="">Проекты наших библиотек посвященных году семьи.</h5>
            <hr class="hr-dark">

                {% for Project in projects %}
                <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img class="img-fluid" src="{{ Project.library.image.url }}" />
                                <a href="{% url 'project' Project.pk %}">
                                    <h5><span class="font-weight-bold">{{ Project.library }}</span></h5>
                                </a>
                            </div>
                        </div>
                </div>
                {% endfor %}

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}