{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
{% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'document_categories' %}">Документы</a></li>
        <li class="breadcrumb-item active" aria-current="page">Проекты</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold">2025 год, в России объявлен Годом защитника и 80-летия Победы в Великой Отечественной войне 1941-1945 годов.</h3>
            <h5 class="">Проекты наших библиотек посвященные году защитника и 80-летия Победы.</h5>
            <hr class="hr-dark">
            <div class="row">
            {% if Project in projects %}
                {% for Project in projects|dictsort:"id" %}
                <div class="col-md-3 d-grid d-flex pt-3">
                        <div class="card">
                            <div class="card-body">
                                <img class="img-fluid" src="{{ Project.library.image.url }}" />
                                <a href="{% url 'project' Project.pk %}">
                                    <h5><span class="font-weight-bold">{{ Project.library }}</span></h5>
                                </a>
                            </div>
                        </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="container-fluid text-center">
                    <h3 class="text-danger text-center pb-5 pt-5">Публикация ожидается в ближайшее время.</h3>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}