{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6 mt-3 mb-3 pt-3 pb-3">
            <div class="mt-2 mb-4">
                <!--Content-->
                <form method="POST">
                    {% csrf_token %}
                    <div class="card wow fadeIn" data-wow-delay="0.3s">
                        <div class="card">

                              <!--Body-->
                              <div class="card-body">
                                  <!--Header-->
                                  <div class="form-header bg-yellow2">
                                    <h4 class="card-title text-dark w-100 font-weight-bold py-2">Вопрос библиотекарю</h4>
                                  </div>
                                  <div hidden>{% crispy_field qform.category %}</div>
                                <div class="md-form">
                                    <i class="fas fa-user prefix grey-text"></i>
                                    {% crispy_field qform.name 'class' 'form-control' 'placeholder' '' %}
                                    <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ qform.name.label }}</strong></label>
                                </div>

                                <div class="md-form">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    {% crispy_field qform.email 'class' 'form-control' 'placeholder' '' %}
                                    <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ qform.email.label }}</strong></label>
                                </div>

                                <div class="md-form">
                                    <i class="fas fa-phone prefix grey-text"></i>
                                    {% crispy_field qform.phone 'class' 'form-control' 'placeholder' '' %}
                                    <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ qform.phone.label }}</strong></label>
                                </div>

                                <div class="md-form">
                                    <i class="fas fa-comment-alt prefix grey-text"></i>
                                    {% crispy_field qform.comment 'class' 'form-control  md-textarea' 'placeholder' '' %}
                                    <label data-error="Не верно" data-success="Верно" for="form2"><strong>{{ qform.comment.label }}</strong></label>
                                </div><div class="md-form">
                                    <input type="checkbox" id="id_agreement" name="agreement">
                                    <!-- Здесь ссылка на внешний документ -->
                                    <a href="https://obs-balashiha.ru/documents/53/" target="_blank">Согласие на обработку персональных данных</a>
                                </div>
                              </div>

                              <!--Footer-->
                              <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn bg-yellow2 waves-effect" onclick="return validateForm()">Отправить <i class="fas fa-paper-plane-o ml-1"></i></button>
                              </div>
                            </div>
                        </div>
                    </form>
                    <script>
                        function validateForm() {
                            var agreementCheckbox = document.getElementById("id_agreement");
                            if (!agreementCheckbox.checked) {
                                alert("Пожалуйста, согласитесь с условиями обработки персональных данных");
                                return false; // Остановить отправку формы
                            }
                            return true; // Разрешить отправку формы
                        }
                    </script>
                <!--/.Content-->
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}