{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <div class="row">

        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">

            <ul class="">
                {% for QualityRating in qualitys %}
                    <li><a href="{% url 'quality' QualityRating.pk %}">{{ QualityRating.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}