{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}
<div class="container-fluid px-3">
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'shedules' %}">Системные расписания</a></li>
        <li class="breadcrumb-item active" aria-current="page">Библиотечный информационно-культурный центр</li>
      </ol>
    </nav>
    <div class="sch-print-toolbar mt-3">
        <button type="button" id="save-button" class="btn btn-yellow text-dark btn-rounded"><i class="fas fa-print fa-2x"></i></button>
        <a class="btn text-white primary-color btn-rounded" href="{% url 'schedule-ikc-vertical' %}" role="button">
          <i class="fab fa-telegram fa-2x"></i>
        </a>
    </div>
    {% include '_schedule_brandbook.html' with download_filename="Системное расписание ИКЦ.jpg" %}
</div>
{% include '_footer.html' %}
{% endblock %}
