{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}
<div class="container">
{% include "_page_menu_service.html" %}
    <div class="row">

        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
               {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                </li>
                  {% endif %}
              {% for p in paginator.page_range %}
                  {% if page_obj.number == p %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">{{ p }} <span class="visually-hidden"></span></a>
                </li>
                   {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                  {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
               {% endif %}
              </ul>
            </nav>
                <table class="table table-responsive">
                    <thead class="table-light">
                        <tr>
                            <th class="font-weight-bold">№ п/п</th>
                            <th class="font-weight-bold">Наименование</th>
                            <th class="font-weight-bold">Время предоставления услуги, мин</th>
                            <th class="font-weight-bold">Стоимость в рублях согласно калькуляции</th>
                            <th class="font-weight-bold">Единица  измерения услуг</th>
                        </tr>
                    </thead>
                    {% for Service in page_obj %}
                    <tbody>
                        <tr>
                        <td>{{ Service.id }}</td>
                        <td>{{ Service.name }}</td>
                        <td>{{ Service.time }}</td>
                        <td>{{ Service.price }}</td>
                        <td>{{ Service.ed_izm }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                   {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                      {% endif %}
                  {% for p in paginator.page_range %}
                      {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{ p }} <span class="visually-hidden"></span></a>
                    </li>
                       {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                   {% endif %}
                  </ul>
                </nav>

        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}