{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'events_archive' %}">Архив мероприятий</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="container">
        <div class="row">
            {% for Shedule in shedules %}
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="#" data-toggle="modal" data-target="#event_week"><img class="img-responsive" src="{{ Shedule.image.url }}" alt="{{ Shedule.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5>{{ Shedule.name }}</h5>
                    </div>
                </div>
            </div>

            <div class="modal top fade" id="event_week_{{ Shedule.id }}" tabindex="-1" aria-labelledby="Расписание" aria-hidden="true" data-backdrop="true" data-keyboard="true">
              <div class="modal-dialog modal-xl  modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
                  </div>
                  <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{{ Shedule.image.url }}" /></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                      Закрыть
                    </button>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>


<div class="modal top fade" id="event_week_{{ Shedule.id }}" tabindex="-1" aria-labelledby="Расписание" aria-hidden="true" data-backdrop="true" data-keyboard="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
      </div>

        <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
          <div class="carousel-inner">
              {% for Shedule in shedules %}
            <div class="carousel-item active" data-mdb-interval="10000">
              <img src="{{ Shedule.image.url }}" class="d-block w-100" alt="Wild Landscape"/>
            </div>
              {% endfor %}
          </div>
          <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
{% include '_footer.html' %}

{% endblock %}