{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_ikc' %}"><img class="img-responsive" src="{% static 'img/schedule_images/ikc.webp' %}" alt="{{ schedule_ikc.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Информационно-культурный центр</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_cdsch' %}"><img class="img-responsive" src="{% static 'img/schedule_images/cdsch.webp' %}" alt="{{ schedule_ikc.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Центр Детского и Семейного Чтения</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_ber' %}"><img class="img-responsive" src="{% static 'img/schedule_images/ber.webp' %}" alt="{{ schedule_ber.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Библиотека Эстетического Развития</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_f2' %}"><img class="img-responsive" src="{% static 'img/schedule_images/f2.webp' %}" alt="{{ schedule_f2.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Библиотека №2</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_f3' %}"><img class="img-responsive" src="{% static 'img/schedule_images/f3.webp' %}" alt="{{ schedule_f3.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Библиотека №3</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="card my-3">
                    <div class="card-body">
                        <a href="{% url 'schedule_f4' %}"><img class="img-responsive" src="{% static 'img/schedule_images/f4.webp' %}" alt="{{ schedule_f4.name }} Железнодорожный"/></a>
                    </div>
                    <div class="card-footer">
                        <h5 class="font-weight-bold">Библиотека №4</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include '_footer.html' %}

{% endblock %}