{% extends "base.html" %}
{% load static %}

{% block content %}
{% include '_header_pages.html' %}

<div class="container">
    {% include "_page_menu_bib.html" %}
        <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'vacancies' %}">Вакансии</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">

        <div class="col-md-12">

            <div class="col-md-8">
              <h5 class="text-left text-dark black-text text-bold"><strong>{{ vacancy.name }}</strong> | {{ vacancy.date }}</h5>
            </div>

            <hr class="hr-dark">
            <div class="col-md-5 title"><h5><strong>Оклад:</strong> {{ vacancy.salary }} руб.</h5></div>
            <section class="extra-margins pb-5 text-lg-left">

                          <!-- Grid column -->
                          <div class="col-md-12">

                            <!-- Text -->
                            <p class="dark-grey-text mb-3 mt-4 mx-4 wow fadeIn" data-wow-delay="0.2s">
                                {{ vacancy.description|safe }}
                            </p>

                          </div>
                          <!-- Grid column -->


                      </section>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}