{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/plyr/plyr.css' %}" />
<script src="{% static 'js/plyr/plyr.js' %}"></script>
{% block content %}
{% include '_header_pages.html' %}

<div class="container">
{% include "_page_menu_victory.html" %}
    <nav class='mt-2' aria-label="breadcrumb sm-hidden" id="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'veterany_vov' %}">Открытая книга победы</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <h3 class="">{{ title }}</h3>
            <hr class="hr-dark">
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                {% for VideoMemoryBook in video %}
                <div  class="container mb-4">
                    <h2>{{ VideoMemoryBook.title }}</h2>

                    <!-- Видеоплеер plyr -->
                    <video id="player" playsinline controls style="width: 85%; max-width: 600px;">
                        <source src="{{ VideoMemoryBook.video_file.url }}" type="video/mp4" />
                        Ваш браузер не поддерживает HTML5 видео.
                    </video>
                </div>

                <!-- Инициализация плеера -->
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const player = new Plyr('#player');
                    });
                </script>
                    <hr class="hr-dark">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}

{% endblock %}