{% load static %}

{% block content %}


    {% if anonsy %}
      <h1 class="mb-3 my-3 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s">
        <strong class="font-weight-bold">АНОНС</strong>
      </h1>
    {% endif %}
{% for Anons in anonsy %}
    <div class="container mb-3 pb-4 mt-2 pt-2">

      <!--Section: Features v.1-->
      <section id="features" class="mb-5 mt-2">
      <hr class="mb-2">
      {% if Anons.active != False %}
        <!--Section heading-->

                <!-- ANONS -->
        <div class="text-center mb-3 font-weight-bold">
            {{ Anons.description|safe }}
        </div>
            {% else %}
        {% endif %}
      </section>
      <!--/Section: Features v.1-->
    </div>

{% endfor %}

{% endblock %}