{% load static %}

{% block content %}
    <div class="container-fluid">

      <!--Section: Features v.1-->
            <div class="bg-image"
                    style="background-image: url('{% static 'img/new_year_back.webp' %}');
                    height: 30vh">
                <h2 class="pt-5 text-center font-weight-bold text-warning">С НАСТУПАЮЩИМ НОВЫМ ГОДОМ!</h2>
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-6 text-center">
                            <a class="" data-toggle="modal" data-target="#afisha_1"><h3 class="title text-danger uppercase font-weight-bold">Афиша праздничных мероприятий в микрорайонах города (декабрь 2021г.) Балашиха, сооружения открытого типа</h3></a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a class="" data-toggle="modal" data-target="#afisha_2"><h3 class="title text-danger uppercase font-weight-bold">Афиша новогодних спектаклей и представлений в микрорайонах города Балашиха 2021, декабрь.</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL-->
    <div class="modal top fade" id="afisha_1" tabindex="-1" aria-labelledby="Афиша новый год Балашиха" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/afisha_1.webp' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal top fade" id="afisha_2" tabindex="-1" aria-labelledby="Спектали новый год Балашиха" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/afisha_2.webp' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}