{% load static %}

{% block content %}

    <!--Third container-->
    <div class="streak streak-md streak-photo"
      style="background-image:url('{% static '/img/background.jpg' %}')">
      <div class="flex-center white-text yellow-gradient-mask">
        <div class="container py-3">

          <!--Section: Features v.4-->
          <section class="wow fadeIn" data-wow-delay="0.2s">

            <!--Section heading-->
            <h1 class="py-3 my-3 text-dark text-center wow fadeIn" data-wow-delay="0.2s"><strong
                class="font-weight-bold">Мероприятия</strong>, встречи и события</h1>

            <div class="container-fluid mb-5">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <h3 class="text-white text-center wow fadeIn"><strong class="font-weight-bold">Системное расписание</strong></h3>
                        <a href="#" data-toggle="modal" data-target="#event_week"><img class="img-fluid z-depth-3 rounded" src="{{ shedule.image.url }}" /></a>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <h3 class="text-white text-center wow fadeIn"><strong class="font-weight-bold">Кинозал</strong></h3>
                        <a href="#" data-toggle="modal" data-target="#event_cinema"><img class="img-fluid z-depth-3 rounded" src="{{ cinema.image.url }}" /></a>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <h3 class="text-white text-center wow fadeIn"><strong class="font-weight-bold">Событие недели</strong></h3>
                        <a href="{% url 'events' %}"><img class="img-fluid z-depth-3 rounded" src="{{ event.image.url }}" /></a>
                    </div>
                </div>
            </div>

          </section>
          <!--/Section: Features v.4-->
        </div>
      </div>
    </div>
    <!--/Third container-->
    <!-- Modal week -->
    <div class="modal top fade" id="event_week" tabindex="-1" aria-labelledby="Расписание" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{{ shedule.image.url }}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal cinema -->
    <div class="modal top fade" id="event_cinema" tabindex="-1" aria-labelledby="Расписание" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{{ cinema.image.url }}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal single -->
    <div class="modal top fade" id="event_single" tabindex="-1" aria-labelledby="Расписание" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>

            <div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel">
              <div class="carousel-inner">
                  {% for Event in events %}
                <div class="carousel-item active" data-mdb-interval="10000">
                  <img src="{{ Event.image.url }}" class="d-block w-100" alt="Wild Landscape"/>
                </div>
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
  <!-- MDB core JavaScript -->
{% endblock %}