{% load static %}

{% block content %}

<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-3">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase font-weight-bold">МБУК "ЦБС им. А. Белого"</h5>
        <p>
          Муниципальное Бюджетное Учреждение Культуры "Централизованная Библиотечная Система имени Андрея Белого"
          <hr class="hr-dark">
            <p>Московская область, г.о. Балашиха, мкр. Железнодорожный
            <br>
            ул. Пролетарская, д.8
            </p>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase font-weight-bold">Библиотеки</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'biblioteki' %}" class="text-dark">Состав ЦБС</a>
          </li>
          <li>
            <a href="{% url 'documents' %}" class="text-dark">Документы</a>
          </li>
          <li>
            <a href="{% url 'shedules' %}" class="text-dark">Системные расписания</a>
          </li>
          <li>
            <a href="{% url 'events' %}" class="text-dark">Мероприятия</a>
          </li>
          <li>
            <a href="{% url 'news' %}" class="text-dark">Новости</a>
          </li>
          <li>
            <a href="{% url 'vacancies' %}" class="text-dark">Вакансии</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0 font-weight-bold">Услуги</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/terms/1" class="text-dark">Правила пользования</a>
          </li>
          <li>
            <a href="/fservices/1" class="text-dark">Бесплатные услуги</a>
          </li>
          <li>
            <a href="{% url 'services' %}" class="text-dark">Прейскурант на услуги</a>
          </li>
            <hr class="hr-dark">
          <li>
            <a href="{% url 'contacts' %}" class="text-dark font-weight-bold">Контакты</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021:
    <a class="text-dark" href="https://revenant-it.ru/">Revenant</a>
    <div class="float-right">
    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=87465195&amp;from=informer"
    target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/87465195/3_0_FFB953FF_FF9933FF_0_pageviews"
    style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="87465195" data-lang="ru" /></a>
    <!-- /Yandex.Metrika informer -->
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}