{% load static %}

{% block content %}

    <div class="container">

      <!--Section: Features v.1-->
      <section id="features" class="mb-5">

        <!--Section heading-->
        <h1 class="mb-3 my-3 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong
            class="font-weight-bold">Формы обратной связи</strong></h1>
          <hr>

        <!--First row-->
        <div class="row features wow fadeIn" data-wow-delay="0.2s">

          <div class=" col-md-6 col-lg-3 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                  <a href="#" data-toggle="modal" data-target="#books"><i class="fas fa-book blue-text"></i></a>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Продлить книгу/книги онлайн</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Не успели вернуть книгу вовремя? Заполните форму и мы продлим ее для Вас.</p>
              </div>
            </div>
          </div>

          <div class=" col-md-6 col-lg-3 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                  <a href="#" data-toggle="modal" data-target="#questions"><i class="fas fa-question orange-text"></i></a>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Задать вопрос библиотекарю</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Ищите книгу или хотите узнать о планируемых библиотеке мероприятиях?</p>
              </div>
            </div>
          </div>

          <div class=" col-md-6 col-lg-3 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                  <a href="/contacts/#fback" ><i class="fas fa-user-check red-text"></i></a>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Форма обратной связи и предложений</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">У вас идеи по вопросам работы библиотеки? Мы будем рады их реализовать.</p>
              </div>
            </div>
          </div>

            <div class=" col-md-6 col-lg-3 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                  <a href="#" data-toggle="modal" data-target="#services"><i class="fas fa-handshake green-text"></i></a>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Дополнительные услуги для Вас</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Форма для получения дополнительных услуг в рамках нашей библиотеки.</p>
              </div>
            </div>
          </div>


        </div>
        <!--/First row-->

      </section>
      <!--/Section: Features v.1-->

    </div>


{% endblock %}