{% load static %}
{% load mptt_tags %}
{% block content %}

 <!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
      <div class="container">

        <a class="navbar-brand" href="#"><img src="{% static 'img/logo2.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Мобильное меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">ГЛАВНАЯ<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'biblioteki' %}">БИБЛИОТЕКИ ЦБС</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">УСЛУГИ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">РЕСУРСЫ</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">ПРОЕКТЫ</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">КОНТАКТЫ</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.instagram.com/bib.a.belogo/" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-instagram fa-2x pink-text-2"></i></a>
            </li>
            <li class="nav-item">
              <a href="http://www.facebook.com/profile.php?id=100004034438828/" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-facebook fa-2x text-primary"></i></a>
            </li>
            <li class="nav-item">
              <a href="https://www.youtube.com/channel/UCC41ydTC2Kljun8jya1Iyog/featured" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-youtube fa-2x text-danger"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Intro Section-->
    <section class="bg-yellow2 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Content -->
        <div class="card-body text-white text-center pt-5 pb-2 px-5 mb-3 mt-5">

            <img src="{% static 'img/belyi_pages.png' %}" class="img-fluid" />

        </div>

    </section>

  </header>
  <!--Main Navigation-->

{% endblock %}