{% load static %}

{% block content %}

 <!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
      <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo2.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Мобильное меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'biblioteki' %}">БИБЛИОТЕКИ ЦБС</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">УСЛУГИ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'documents' %}">ДОКУМЕНТЫ</a>
            </li>
              <!--
              <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">ПРОЕКТЫ</a>
            </li>
            -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contacts' %}">КОНТАКТЫ</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="{% url 'mobile-app' %}" class="nav-link waves-effect waves-light"><i class="fab fa-android fa-2x text-success"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://t.me/cdsbelogo" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-telegram fa-2x text-primary"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://vk.com/public204984740" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-vk fa-2x text-primary"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://ok.ru/mbuk.tsbsimabelogo" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-odnoklassniki fa-2x text-warning"></i></a>
            </li>
            <li class="nav-item">
                <div id="finevision_banner" onclick="finevision.activate_navbar()" style="cursor: pointer; z-index: 9999; background: rgb(255, 255, 255); border: 2px solid rgb(0, 0, 0); float: right">
                    <img width="40" src="http://finevision.ru/static/banner1.jpg">
                    <script src="http://finevision.ru/static/js/finevision_banner.js"></script>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<style type="text/css">
.bgimg {
    background-image: url({% static 'img/pattern2.webp' %});
    background-repeat: repeat;
}
.font-fluid {
  font-size: 3vw;
}
</style>
    <section class="bg-yellow2 wow fadeIn">
        <div class="">
            <div class="streak streak-md streak-photo">
            <!-- Content -->
                <div class="card-body text-white text-center py-5 px-5 mb-3 mt-5">

                    <img src="{% static 'img/belyi.png' %}" class="img-fluid z-depth-1" />

                </div>

                <!-- Content -->
                <div class="container pb-4">
                      <!--Section: Cards-->
                  <!--Grid row-->
                    <div class="row mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card hoverable">
                      <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                          <a href="{% url 'veterany_vov' %}">
                            <img src="{% static 'img/book.png' %}" class="img-fluid pt-3" />
                            </a>
                          <div class="mask" style="background-color:#f5f3ed"></div>
                      </div>

                      <div class="card-body text-center" style="background-color:#f5f3ed">
                          <a href="{% url 'veterany_vov' %}">
                            <h5 class="card-title font-weight-bold">Открытая книга победы</h5>
                          </a>
                      </div>
                    </div>
                    <!--/.Card-->

                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card hoverable">
                      <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                        <a href="https://bibliomo.ru/libraries/923803/books/"
                        target="_blank" rel="nofollow">
                            <img src="{% static 'img/elk.png' %}" class="img-fluid pt-3" />
                        </a>
                          <div class="mask" style="background-color:#f5f3ed"></div>
                      </div>

                      <div class="card-body text-center" style="background-color:#f5f3ed">
                        <a href="https://bibliomo.ru/libraries/923803/books/"
                        target="_blank" rel="nofollow">
                          <h5 class="card-title font-weight-bold">Электронный каталог фонда</h5>
                        </a>
                      </div>
                    </div>
                    <!--/.Card-->

                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card hoverable">
                      <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                        <img src="{% static 'img/online.png' %}" class="img-fluid pt-3" />
                        <a href="{% url 'library_category' %}">
                          <div class="mask" style="background-color:#f5f3ed"></div>
                        </a>
                      </div>

                      <div class="card-body text-center" style="background-color:#f5f3ed">
                          <a href="{% url 'library_category' %}">
                            <h5 class="card-title font-weight-bold">Электронная библиотека</h5>
                          </a>
                      </div>
                    </div>
                    <!--/.Card-->

                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-lg-3 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card hoverable">
                      <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                        <img src="{% static 'img/sereb.png' %}" class="img-fluid pt-3" />
                        <a href="https://izi.travel/ru/browse/bb651a7f-434f-48b7-8da7-2201fab107e7#4e3added-b694-42c5-8931-2884df01ca13" target="_blank" rel="nofollow">
                          <div class="mask" style="background-color:#f5f3ed"></div>
                        </a>
                      </div>

                      <div class="card-body text-center" style="background-color:#f5f3ed">
                          <a href="https://izi.travel/ru/browse/bb651a7f-434f-48b7-8da7-2201fab107e7#4e3added-b694-42c5-8931-2884df01ca13" target="_blank" rel="nofollow">
                            <h5 class="card-title font-weight-bold">Тропою Андрея Белого</h5>
                          </a>

                      </div>
                    </div>
                    <!--/.Card-->

                  </div>
                  <!--Grid column-->


                </div>
                <!--Grid row-->

                <!--Section: Cards-->
                </div>
            </div>
        </div>

    </section>

  </header>
  <!--Main Navigation-->

{% endblock %}