{% load static %}
{% url 'index' as index_url %}
{% url 'biblioteki' as biblioteki_url %}
{% url 'services' as services_url %}
{% url 'resources' as resources_url %}
{% url 'projects' as projects_url %}
{% url 'contacts' as contacts_url %}
{% block content %}

 <!--Main Navigation-->
  <header>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
      <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo2.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Мобильное меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == index_url %}active{%endif%}">
              <a class="nav-link" href="{% url 'index' %}">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item {% if request.path == biblioteki_url %}active{%endif%}">
              <a class="nav-link" href="{% url 'biblioteki' %}">БИБЛИОТЕКИ ЦБС</a>
            </li>
            <li class="nav-item {% if request.path == services_url %}active{%endif%}">
              <a class="nav-link" href="{% url 'services' %}">УСЛУГИ</a>
            </li>
            <li class="nav-item {% if request.path == resources_url %}active{%endif%}">
                <a class="nav-link" href="{% url 'resources' %}">РЕСУРСЫ</a>
            </li>
              <li class="nav-item {% if request.path == projects_url %}active{%endif%}">
                <a class="nav-link" href="{% url 'projects' %}">ПРОЕКТЫ</a>
            </li>
              <li class="nav-item {% if request.path == contacts_url %}active{%endif%}">
                <a class="nav-link" href="{% url 'contacts' %}">КОНТАКТЫ</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a href="https://www.instagram.com/bib.a.belogo/" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-instagram fa-2x pink-text-2"></i></a>
            </li>
            <li class="nav-item">
              <a href="http://www.facebook.com/profile.php?id=100004034438828/" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-facebook fa-2x text-primary"></i></a>
            </li>
            <li class="nav-item">
              <a href="https://www.youtube.com/channel/UCC41ydTC2Kljun8jya1Iyog/featured" rel="nofollow" target="_blank" class="nav-link waves-effect waves-light"><i class="fab fa-youtube fa-2x text-danger"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Intro Section-->
    <section class="bg-yellow2 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 mb-3 mt-5">

            <img src="{% static 'img/belyi.png' %}" class="img-fluid z-depth-1" />

        </div>

        <!-- Content -->
        <div class="container pb-4">
              <!--Section: Cards-->
          <!--Grid row-->
            <div class="row mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">

            <!--Card-->
            <div class="card hoverable">
              <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                  <a href="{% url 'veterany_vov' %}">
                    <img src="{% static 'img/book.png' %}" class="img-fluid pt-3" />
                    </a>
                  <div class="mask" style="background-color:#f5f3ed"></div>
              </div>

              <div class="card-body text-center" style="background-color:#f5f3ed">
                  <a href="{% url 'veterany_vov' %}">
                    <h5 class="card-title font-weight-bold">Открытая книга победы</h5>
                  </a>
              </div>
            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card hoverable">
              <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                <a href="http://213.141.153.187:8080/cgi-bin/irbis64r_15/cgiirbis_64.exe?LNG=&C21COM=F&I21DBN=IMAGE&P21DBN=IMAGE"
                target="_blank" rel="nofollow">
                    <img src="{% static 'img/elk.png' %}" class="img-fluid pt-3" />
                </a>
                  <div class="mask" style="background-color:#f5f3ed"></div>
              </div>

              <div class="card-body text-center" style="background-color:#f5f3ed">
                <a href="http://213.141.153.187:8080/cgi-bin/irbis64r_15/cgiirbis_64.exe?LNG=&C21COM=F&I21DBN=IMAGE&P21DBN=IMAGE"
                target="_blank" rel="nofollow">
                  <h5 class="card-title font-weight-bold">Электронный каталог фонда</h5>
                </a>
              </div>
            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card hoverable">
              <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                <img src="{% static 'img/online.png' %}" class="img-fluid pt-3" />
                <a href="#!">
                  <div class="mask" style="background-color:#f5f3ed"></div>
                </a>
              </div>

              <div class="card-body text-center" style="background-color:#f5f3ed">
                <h5 class="card-title">Электронная библиотека</h5>

              </div>
            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card hoverable">
              <div class="bg-image hover-overlay ripple text-center" style="background-color:#f5f3ed" data-mdb-ripple-color="light">
                <img src="{% static 'img/sereb.png' %}" class="img-fluid pt-3" />
                <a href="#!">
                  <div class="mask" style="background-color:#f5f3ed"></div>
                </a>
              </div>

              <div class="card-body text-center" style="background-color:#f5f3ed">
                <h5 class="card-title">Тропою Андрея Белого</h5>

              </div>
            </div>
            <!--/.Card-->

          </div>
          <!--Grid column-->


        </div>
        <!--Grid row-->

        <!--Section: Cards-->
        </div>

    </section>

  </header>
  <!--Main Navigation-->

{% endblock %}