{% load static %}

{% block content %}

    <div class="z-depth-1 col-md-3 colapse show">
        <nav class="sidebar-nav">
            <div class="container">
                <ul class="sidenav-menu mt-3 mb-3 ">
                  <li class="sidenav-item mt-1">
                      <a class="nav-link h6 ripple-surface" href="{% url 'biblioteki' %}" tabindex="1"> <i class="fas fa-hotel pr-3"></i><strong> Библиотеки</strong></a>
                  </li>
                  <li class="sidenav-item mt-1">
                      <a class="nav-link h6 ripple-surface" href="{% url 'documents' %}" tabindex="1"> <i class="fas fa-folder-open pr-3"></i><strong> Документы</strong></a>
                  </li>
                  <li class="sidenav-item mt-1">
                      <a class="nav-link h6 ripple-surface" href="{% url 'raitings' %}" tabindex="1"> <i class="fas fa-spell-check pr-3"></i><strong> Качество</strong></a>
                  </li>
                  <li class="sidenav-ite mt-1">
                      <a class="nav-link h6 ripple-surface" href="{% url 'news' %}" tabindex="1"> <i class="far fa-newspaper pr-3"></i><strong> Новости</strong></a>
                  </li>
                  <li class="sidenav-item mt-1">
                      <a class="nav-link h6 ripple-surface" href="{% url 'vacancies' %}"tabindex="1"> <i class="fas fa-id-badge pr-3"></i><strong> Вакансии</strong></a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}