{% load static %}

{% block content %}
<section>
    <div class="container">
        <div class="card mt-5">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-4">
                    <img class="card-img-top" src="{% static '/img/checkout.jpg' %}" alt="Card image cap">
                    <a href="{% static '/img/checkout.pdf' %}">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <div class="col-md-8 d-flex align-items-center">
                      <h4 class="card-title"><strong>Публичный отчёт МБУК «ЦБС им. А. Белого за 2021 год.</strong></h4>
                  </div>
              </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}